.seleccionado {
    border: 2px dashed gray;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background: #f2f2f2;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:  10px;
    max-width: 300px;
}

.logo {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background: white;
    transition: transform 0.2s ease;
}

.logo:hover {
    transform: scale(1.05);
}