.header {
  background: #154ACF;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  height: 12vh;
}      


.Botones {
  display: flex;
  align-items: end;
  position: relative;
  gap: 7vh;
  top: 1vh;
  right: 3%;
 
}


.BarraDeBusqueda {
width: 80vh;
height: 4.5vh;
background-color: white;
border: 2px solid ;
border-radius: 1vh;
position: relative;
left: -9%;
padding: 0.5vh 0.7vh;
background-image: url('Lupa.png');
background-repeat: no-repeat;
background-size: 4vh;
background-position: 97% center;




}




.BarraDeBusqueda::placeholder {
color: rgba(0, 0, 0, 0.5) ;      
font-family: 'Montserrat', sans-serif;
font-weight: 600;                      
font-size: 4vh;    
line-height: 4.5vh;
}


.cuadradoAzul1 {
height: 85vh;
width: 100%;
background-color: #1B1464;
}


.containerLista {
position: absolute;
height: 50vh;
top: 20%;
}


.listaProducto {
height: 22vh;
width: 89vh;
background-color: #D9D9D9;
border-radius: 4vh;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
position: absolute;
top: 5%;
left: 5%;
font-family: 'Montserrat', sans-serif;    
overflow: hidden;
}




.Mochila {
position: relative;
top: 55%;
}


.Libro {
position: relative;
top: 62%;
}


.imagenContainer  {
  width: 24%;  
height: 100%;
border-radius: 10px;
overflow: hidden;
}








.listaProducto:hover {
transform: translateY(-7px);
box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}


.imagenProducto {
  width: 100%;
  height: 100%;
object-fit: cover;
}


.rayaAzul {
  width: 0.9vh;
  height: 22vh;
  background-color: #1B1464;
  position: absolute;
  left: 23%;
}




.precio {
position: absolute;
top: -13%;
left: 26%;
font-weight: 800;
font-size: 160%;
}




.nombreProducto {
  position: absolute;
  top: 22%;
  left: 26%;
font-weight: medium;
font-size: 130%;
}


.descripcionProducto {
  position: absolute;
  top: 45%;
  left: 26%;
font-weight: medium;
font-size: 130%;
}


.MetodosDePago {
width: 25%;
height: 25%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 10vh;
position: absolute;
top: 48%;
right: 24%;
margin: 0 auto;
}






.BotonPago {
width: 140%;
height: 120%;
background-color: #1B1464;
border-radius: 4vh;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: transform 0.2s, box-shadow 0.2s;




background-image: url(Frame\ 13.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}


.BotonPago:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255,255,255,0.3);
}




.BotonPago img {
width: 70%;
height: auto;
}


.BotonPago.seleccionado:hover {
  border: 3px solid #00ffcc;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
}


.MetodoDePagoTexto {
width: 20%;
height: auto;
position: absolute;
top: 25%;
right: 26%;
font-family: 'Montserrat', sans-serif;
font-size: 4vh;
font-size: 1000;
color: white;
}






.cuadradoAzul2 {
height: 82vh;
width: 37vh;
background-color: #154ACF;
position: absolute;
right: 1.2vh;
top: 19vh;
}


.cuadradoAzul3 {
height: 79vh;
width: 34vh;
background-color: #1B1464;
border-radius: 6.5vh;
position: absolute;
right: 4%;
top: 1%;
}


.TextoResumenCompra {
height: 63vh;
width: 32vh;


border-radius: 6.5vh;
position: absolute;
right: 0.5%;
top: -0.1%;
}


.TituloResumen {
position: absolute;
right: 85%;
top: 2%;
width: 1%;
height: 1%;
font-family: 'Montserrat', sans-serif;
font-weight: 800;          
font-size: 4vh;
color: white;
}


.TextoCompra {
  position: absolute;
  top: 20%;
  right: -5%;
  width: 100%;
  height: 0.1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;          
  font-size: 3.5vh;
  color: white;
  }


.finalizarCompra {
position: absolute;
right: 3%;
top: 85%;
width: 31vh;
height: 6vh;
border: 0.5vh solid #154ACF;
border-radius: 6vh;
background-color: #051434;
}




.TextoFinalizarCompra {
position: absolute;
top: -7%;
right: 9%;
height: 10%;
font-family: 'Montserrat', sans-serif;
font-weight: bold;          
font-size: 2.2vh;
letter-spacing: 0.2vh;
text-decoration: none;
color: #154ACF;
}


.containerInfo {
  position: absolute;
  top: 45%;
  right: -5%;
  width: 16vw;
  height: 50%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;          
  font-size: 3.2vh;
  color: white;
}


.TextoInfo {
  width: 100%;        
  height: 15%;
  color: white;
}


.Total  {
  position: absolute;
  top: 90%;
  right: 40%;
  width: 60%;
  height: 50%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;          
  font-size: 3.5vh;
  color: white;
}


.alias {
display: none;
border: 1vh solid #154ACF;
background-color: #1B1464;
color: #154ACF;
padding: 20px;
border-radius: 10vh;
text-align: center;
margin: 20px auto;
width: 45vw;
height: 10vh;
font-size: 10vh;
font-weight: bold;
position: fixed;  
top: 50%;          
left: 50%;        
transform: translate(-50%, -50%);
z-index: 9999;    
}
         


