
.body {
  margin: 0;
 font-family: 'Montserrat', sans-serif;
 width: 100%;
}

.header {
  height: 70px;
  background: #154acf;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}


#Búsqueda {
  width: 520px;
  padding: 10px 14px;
  border-radius: 0px;
  border: 1px solid #cec8c8;
  font-size: 14px;
  outline: none;
  transition: all 0.3s;
}

#Búsqueda:focus {
  border-color: #1a4270;
  box-shadow: 0 0 5px #1a3d66;

}

.logo {

 height: 65px;
justify-content: end;
 align-items: start;
 left: 4%;

 }

.logo img
.user img,
.favoritos img,
.cart img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.2s ease;
  
}
.user img:hover,
.favoritos img:hover,
.cart img:hover {
transform: scale(1.1);
}

.user, .favoritos, .cart {
margin-left: 15px;
}








.CuadradoGris {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 50vh;
  max-width: 900px;
  background-color: #f7f7f7;
  border: 2px solid #1B1464;
  border-radius: 12px;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  overflow: hidden;
}

.CuadradoAzul1 {
  width: 100%;
  background-color: #154acf;
  height:  85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.CuadradoAzul1 button {
  background-color: #1B1464;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.CuadradoAzul1 button:hover {
  background-color: #0d093d;
}

.miperfil {
  
background-color: #154acf;
padding: 3px 5px ;
justify-content: left;
align-items: left;
left: 20%;
}



.BotonEditar {
  background-color: #1B1464;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.BotonEditar:hover {
  background-color: #0e093d;
}


.Formulario {
  width: 90%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.dato {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 16px;
  color: #1B1464;
  width: 40%;
}

.dato label {
  font-weight: bold;
}




