.body {
  margin: 0;
 font-family: 'Montserrat', sans-serif;
 width: 100%;
}




.Fondo {
  width: 100%;
  height: 100vh;
  background-color: #154ACF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}




.titulo {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 1000;
  position: absolute;
  top: 3%;            
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 40px;
  margin: 0;
  margin-bottom: 30px;
  
}




.CuadradoGris {
  display: flex;
  align-items: center ;
  flex-direction: column;
  gap: 15px;
  width: 75%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 17px;
  position: absolute;
  top: 15%;
}


.CuadradoAzul1 {
  width: 100%;
  height: 9vh;
  background-color: #1B1464;
  position: absolute;
  top: 3.5%;
}

.CuadradoAzul {
  width: 100%;
  height: 9vh;
  background-color: #1B1464;
  border-radius: 17px;
  top: 1%;
}



.Logo {
position: absolute;
top: 2%;
left: 40%;
justify-content: center;
align-items: left;
}




.Formulario {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;

  gap: 12px;
  position: absolute;
  top: 27%;
  justify-self: center;
   position: absolute;
  top: 24%;
  left: 3%; 
  right: 10%;
}

.BotonDeNombre,
.BotonDeApellido,
.BotonDeMail,
.BotonDeCurso,
.BotonDeOrientación,
.BotonDeContraseña,
.BotonDeContraseña2  {
  width: 60%;
  height: 5vh;
  border-radius: 10px;
  background-color: #1B1464;
  color: white;
  border: none;
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
}


.BotonDeNombre::placeholder,
.BotonDeApellido::placeholder,
.BotonDeMail::placeholder,
.BotonDeCurso::placeholder,
.BotonDeOrientación::placeholder,
.BotonDeContraseña::placeholder,
.BotonDeContraseña2::placeholder {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
}

.BotonDeRegistrar {
  width: 20vw;
  height: 45px;
  border-radius: 10px;
  color: #1B1464;
  background-color: white;
  border: 3px solid #1B1464;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
   position: relative;
  top: -150px;
}     

.BotonDeRegistrar:hover {
  background-color: #e0e0e0;
}

.Registrarse {
  text-decoration: none;
  color: #1B1464;
  font-weight: bold;
}

.BotonError {
 
  color: red;
  font-weight: 1000;
  width: 19vw;
  height: 15vh;
  border-radius: 15px;
  background-color: white;
  border: 3px solid red;
  font-size: 20px;
  display: none; 
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 68%;         
  left: 87%;
  transform: translateX(-50%);
}


