body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
    color: #000;
  }
  
  .header {
    background: #122766;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  
  
  .L {
    font-weight: bold;
    width: 22px;
    height: 33px;
  }
  
  .cart {
    font-size: 40px;
    cursor: pointer;
  }
  
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
  }
  
  .product-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-image img {
    width: 100%;
    max-width: 250px;
    border-radius: 8px;
  }
  
  .thumbnail-list {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .thumbnail-list img {
    width: 60px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
  }
  
  .thumbnail-list img:hover {
    border: 2px solid #0c2366;
  }
  
  .product-info {
    position: relative;
  }
  
  .icon-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .seller-info {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  }
  
  .seller-card {
    background: #041958;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .comprar {
    background: #0f2566;
    color: #ffffff;
  }
  
  .carrito {
    background: #110846;
    color: #7f76aa;
  }
  