body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
    color: #000;
  }
  
  .header {
    height: 70px;
    background: #0d369e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }

  #Búsqueda {
    width: 520px;
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    transition: all 0.3s;
  }
  
  #Búsqueda:focus {
    border-color: #1a4270;
    box-shadow: 0 0 5px #1a3d66;
  
  }

  .Logo {

   height: 65px;
  justify-content: end;
   align-items: start;

   }

  .Logo img
  .user img,
  .favoritos img,
  .cart img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.2s ease;
    
  }
  .user img:hover,
.favoritos img:hover,
.cart img:hover {
  transform: scale(1.1);
}

.user, .favoritos, .cart {
  margin-left: 15px;
}

  
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
  }
  
  .product-images {
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-image img {
    width: 120%;
    max-width: 250px;
    border-radius: 20px;
    border: #0c2366
  }
  
  .thumbnail-list {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .thumbnail-list img {
    width: 60px;
    cursor: pointer;
    border-radius: 15px;
    border: #041958;
    border: 2px solid transparent;
  }
  
  .thumbnail-list img:hover {
    border: 2px solid #0c2366;
  }
  
  .product-info {
    position: relative;
    font-family: "Stack Sans Healine" sans-serif;
    font-weight: semibold;
    font-size: large;
    font-weight: 700;
  }
  
  .icon-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .seller-info {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  }
  
  .seller-card {
    background: #041958;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .comprar {
    
    display: block;
    width: 250px;
    padding: 12px 0;
    margin: 10px auto;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: rgb(255, 255, 255);
    color: white;
    background-color: #154acf; 
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .carrito {
    display: block;
    width: 250px;
    padding: 12px 0;
    margin: 10px auto;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #0f0a41; 
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  