.header {
  background: #154ACF;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 3vh;
}

.Botones {
  display: flex;
  align-items: end;
  position: relative;
  gap: 8vh;
  top: 5x;
  right: 8vh
}


.BarraDeBusqueda {
width: 80vh;
height: 4.5vh;
background-color: white;
border: 2px solid ;
border-radius: 1vh;
position: relative;
left: -9vh;
padding: 0.5vh 0.7vh;
background-image: url('Lupa.png');
background-repeat: no-repeat;
background-size: 4vh;
background-position: 97% center;
}


.BarraDeBusqueda::placeholder {
color: rgba(0, 0, 0, 0.5) ;      
font-family: 'Montserrat', sans-serif;
font-weight: 600;                      
font-size: 4vh;    
line-height: 4.5vh;
}

.cuadradAzul {
width: 15vw;
height: 77vh;
background-color: #154ACF;
border-radius: 1vw;
gap: 0.05vh;
padding-top: 3vh;
   position: absolute;
   top: 18vh;
}


.ambosFilterContainer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}

.filterContainer1,
.filterContainer2 {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.despegableAño,
.despegableCategoria {
width: 10vw;
height: 5vh;
border: black;
border-radius: 1vh;
}


.filterContainer1  {
width: 10vw;
height: 15vh;
background-color: #154ACF;
font-size: 4vh;
gap: 2vh;
}

.despegableCategoria {
border: black;
border-radius: 1vh;
}

.Categoria{
  font-size: 4vh;
  font-weight: bold;
  cursor: pointer;
  color: white;
  user-select: none;
}

.Categoria:hover{
text-decoration: underline;
}

.oculto{
  display: none;
}

.filterContainer2  {
width: 10vw;
height: 10vh;
background-color: #154ACF;
}

.despegableAño {
border-radius: 1vh;
border: 25vw black
}


.Productos-container{
  display: flex;
  height: 100%;
  width: 80%;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  gap: 3vh;
  padding: 1vh;
position: absolute;
top: 16.7%;
right: 1%;
}


.productos{
  position: relative;
  top: -10%;
  border: 3px solid #1B1464;
  border-radius: 30px;
  background-color: white;
  width: 19vw;
  height: 60vh;

}

.titulos{
position: absolute;
top: 66%;
color: white;
font-weight: bold;
font-size: 28px
}

.valoracion{
position: absolute;
top: 88%;
left: 2%;
color: white;
font-weight: 400;
}


.cuadradoAzulProducto1{
  position: absolute;
  top: 73%;
  background-color: #1B1464;
  border-radius: 28px;
  width: 19vw;
  height: 16.3vh;
}

.cuadradoAzulProducto2{
  position: absolute;
  top: 73%;
  background-color: #1B1464;
  width: 19vw;
  height: 14vh;
}