.header {
  background: #154ACF;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 3vh;
}




.Botones {
  display: flex;
  align-items: end;
  position: relative;
  gap: 8vh;
  top: 5x;
  right: 8vh
}








.BarraDeBusqueda {
width: 80vh;
height: 4.5vh;
background-color: white;
border: 2px solid ;
border-radius: 1vh;
position: relative;
left: -9vh;
padding: 0.5vh 0.7vh;
background-image: url('Lupa.png');
background-repeat: no-repeat;
background-size: 4vh;
background-position: 97% center;
}








.BarraDeBusqueda::placeholder {
color: rgba(0, 0, 0, 0.5) ;      
font-family: 'Montserrat', sans-serif;
font-weight: 600;                      
font-size: 4vh;    
line-height: 4.5vh;
}




.cuadradAzul {
width: 15vw;
height: 77vh;
background-color: #154ACF;
border-radius: 1vw;
gap: 0.05vh;
padding-top: 3vh;
   position: absolute;
   top: 19vh;
}








.ambosFilterContainer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}




.filterContainer1,
.filterContainer2 {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}








.despegableAño,
.despegableCategoria {
width: 10vw;
height: 5vh;
border: black;
border-radius: 1vh;
}








.filterContainer1  {
width: 10vw;
height: 15vh;
background-color: #154ACF;
font-size: 4vh;
gap: 2vh;
}




.despegableCategoria {
border: black;
border-radius: 1vh;
}




.Categoria{
  font-size: 4vh;
  font-weight: bold;
  cursor: pointer;
  color: white;
  user-select: none;
}




.Categoria:hover{
text-decoration: underline;
}




.oculto{
  display: none;
}




.filterContainer2  {
width: 10vw;
height: 10vh;
background-color: #154ACF;
}


.Productos-container{
  display: flex;
  height: 100%;
  width: 80%;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  gap: 3vh;
  padding: 1vh;
position: absolute;
top: 30%;
right: 1%;
}








.productos{
  position: relative;
  top: -10%;
  border: 3px solid #1B1464;
  border-radius: 30px;
  background-color: white;
  width: 19vw;
  height: 60vh;




}




.titulos{
position: absolute;
top: 66%;
color: white;
font-weight: bold;
font-size: 28px
}




.valoracion{
position: absolute;
top: 88%;
left: 2%;
color: white;
font-weight: 400;
}








.cuadradoAzulProducto1{
  position: relative;
  top: 61%;
  background-color: #1B1464;
  border-radius: 28px;
  width: 19.2vw;
  height: 16.3vh;
  right: 1.2%;
}




.cuadradoAzulProducto2{
  position: absolute;
  top: 73%;
  background-color: #1B1464;
  width: 19vw;
  height: 14vh;
}






/* Menu depsegable de categoria*/
.dropdown {
  position: relative;
  width: 10vw;
}


.dropdownLabel {
  font-size: 4vh;
  font-weight: bold;
  color: black;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.5vw;
 
  position: absolute;
  top: -7vh;
  left: -1vw;
}




.flecha {
  transition: transform 0.3s ease;
}


.flecha.abierta {
  transform: rotate(180deg);
}




.dropdownMenu {
  display: flex;
  flex-direction: column;
 
  position: absolute;
  top: -1vh;
  left: -2.2vw;
  width: 12vw;
  background-color: #154ACF;
  border-radius: 1vh;
  padding: 1vh 1vw;


  z-index: 999;


  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;


    width: fit-content;  
  min-width: 100%;      
}


.dropdownMenu.abierto {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.dropdownMenu p {
  margin: 1vh 0;
  padding: 0.7vh 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
  color: black;
  cursor: pointer;
  white-space: nowrap;  
  font-size: 3.5vh;
  text-align: center;    
  width: 100%;            
}




/* Menu depsegable de año*/
.filterContainer2 .dropdown {
  position: relative;
  width: 10vw;
}


.dropdownLabelAño {
  font-size: 4vh;
  font-weight: bold;
  color: black;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.5vw;


  position: absolute;
  top: 5vh;
  left: -1vw;
}




.flecha {
  transition: transform 0.3s ease;
}


.flecha.rotate {
  transform: rotate(180deg);
}


.dropdownMenuAño {
  display: flex;
  flex-direction: column;


  position: absolute;
  top: -1vh;
  left: -2.2vw;


  width: 12vw;
  background-color: #154ACF;
  border-radius: 1vh;
  padding: 1vh 1vw;


  z-index: 999;


  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;


  width: fit-content;  
  min-width: 100%;    
}


.dropdownMenuAño.abierto {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.dropdownMenuAño p {
  margin: 1vh 0;
  padding: 0.7vh 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
  color: black;
  cursor: pointer;


  white-space: nowrap;
  font-size: 3.5vh;
  text-align: center;
  width: 100%;
}




.botonBorrarFiltros {
  margin-top: 2vh;
  padding: 0.5vh 1vw;
  border-radius: 0.5vh;
  background-color: #154ACF;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: 20%;
}


.filterContainer3 {
  display: flex;
  flex-direction: column;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  position: relative;
  top: 20%;
  left: 4%;
}


.filterContainer3Texto{
  font-size: 25px;
  padding: 0%;
}


.precioInputsDiv {
  display: flex;
  gap: 0.5vw;
  align-items: center;
}


.precioInputsDiv input {
  width: 5vw;
  height: 5vh;
  border: 0.3vh solid black;
  padding: 0.5vh;
  background-color: #154ACF;
}


.precioInputsDiv input::placeholder {
  color: black;
  font-size: 2.5vh;
}
