.body {
   margin: 0;
  width: 100%;
}


.Fondo {
   width: 100%;
   height: 100vh;
   background-color: #154ACF;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   flex-direction: column;
}


.titulo {
   position: absolute;
   top: 2%;            
   left: 50%;
   transform: translateX(-50%);
   color: white;
   font-size: 60px;
   font-weight: bolder;
   margin: 0;
   margin-bottom: 30px;
}


.CuadradoGris {
   display: flex;
   align-items: center ;
   flex-direction: column;
   gap: 15px;
   width: 35%;
   height: 75%;
   background-color: rgba(255, 255, 255, 0.85);
   border-radius: 22px;
   position: absolute;
   top: 15%;
}


.CuadradoAzul1 {
   width: 100%;
   height: 10vh;
   background-color: #1B1464;
   position: absolute;
   top: 4%;
}


.CuadradoAzul {
   width: 100%;
   height: 11vh;
   background-color: #1B1464;
   border-radius: 22px;
   top: 2%;
}


.MercadoOrt {
position: absolute;
top: 4%;
left: 30%;
}


.Formulario {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 18px;
   position: absolute;
   top: 25%;
   justify-self: center;
   width: 30vw;
   height: 50vh;
 }


 .BotonDeDNI,
 .BotonDeContraseña {
   width: 90%;
   height: 5.5vh;
   border-radius: 10px;
   background-color: #1B1464;
   color: white;
   border: none;
   text-align: left;
   font-size: 19px;
   padding-left: 10px;
 }
 
 .BotonDeDNI::placeholder,
 .BotonDeContraseña::placeholder {
   color: rgba(255, 255, 255, 0.7);
   text-align: left;
 }
 
 .BotonDeEntrar {
   width: 19vw;
   height: 9.5vh;
   border-radius: 10px;
   color: #1B1464;
   background-color: white;
   border: 5px solid #1B1464;
   font-weight: bold;
   font-size: 37px;
   cursor: pointer;
 }
 
 .BotonDeEntrar:hover {
   background-color: #e0e0e0;
 }
 
 .Registrarse {
   text-decoration: none;
   color: #1B1464;
   font-weight: bold;
 }
 
 .BotonError {
   color: red;
   font-weight: 1000;
   width: 22vw;
   height: 9vh;
   border-radius: 25px;
   background-color: white;
   border: 5px solid red;
   font-size: 30px;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
 }





