.body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.header {
  background: #154ACF;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;




}








.Botones {
  display: flex;
  align-items: end;
  position: relative;
  gap: 80px;
  top: 5px;
  right: 100px
}








.BarraDeBusqueda {
width: 700px;
height: 45px;
background-color: white;
border: 2px solid ;
border-radius: 10px;
position: relative;
left: -90px;
padding: 5px 7px;


}




.BarraDeBusqueda::placeholder {
color: rgba(0, 0, 0, 0.5) ;      
font-family: 'Montserrat', sans-serif;
font-weight: 600;                      
font-size: 40px;    
line-height: 45px;
}




.cart {
  font-size: 40px;
  cursor: pointer;
}




/* ---------- CUERPO ---------- */
.CuadradoAzul {
  width: 100vh;
  height: 76.8vh;
  background-color: #2A4BA1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5px;
  padding-top: 30px;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}
















/* ---------- CONTENEDORES DE PRODUCTOS ---------- */
.ContenedorImagen1,
.ContenedorImagen2,
.ContenedorImagen3 {
  position: relative;
  display: inline-block;
  width: 100%;              
right: 10px;
  position: relative;
display: flex;
flex-direction: column;
align-items: center;
width: 800px;
height: 530px;


}
















/* Imagen base con el cuadro blanco */
.ImagenGrupo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}




















.Lapicera {
position: absolute;
top: 18%;        
left: 18%;        
width: 140px;    
height: 150px;
object-fit: cover;  /* mantiene proporción sin recortar */
border-radius: 10px;
}












.Cartuchera {
position: absolute;
top: 18%;        
left: 18%;        
width: 140px;    
height: 150px;
object-fit: contain;
border-radius: 10px;
}












.Toldot {
position: absolute;
top: 18%;        
left: 18%;        
width: 140px;    
height: 150px;
object-fit: contain;
border-radius: 10px;
}
















.Lapicera:hover,
.Cartuchera:hover,
.Toldot:hover {
  transform: scale(1.05); /* efecto suave al pasar el mouse */
}
















/* ---------- TEXTO ---------- */
.Texto1 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;    
text-align: center;      
width: 90%;
padding: 10px;
 top: 30%;
 right: -11%;
 position: absolute;
   color: rgba(0, 0, 0,) ;      
font-family: 'Montserrat', sans-serif;
font-weight: bold;                      
font-size: 30px;    
}




.Texto2 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;    
text-align: center;      
width: 90%;
padding: 10px;
 top: 45%;
 right: -15%;
 position: absolute;
   color: rgba(0, 0, 0,) ;      
font-family: 'Montserrat', sans-serif;
font-weight: 700;                      
font-size: 30px;    
}








.precio {
  font-weight: bold;
  margin: 0;
  color: #000000;
}




.finalizarCompra {
position: absolute;
right: 10%;
top: 75%;
width: 583px;
height: 70px;
border: 4px solid #154ACF;
border-radius: 60px;
background-color: #051434;
}




.TextoFinalizarCompra {
display: flex;
align-items: center;
justify-content: center;
height: 15px;




font-family: 'Montserrat', sans-serif;
font-weight: bold;          
font-size: 20px;
letter-spacing: 2px;
text-decoration: none; /* no funciona */
padding: 10px 20px;
}


