body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}












.header {
  background: #154ACF;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;




}








.Botones {
  display: flex;
  align-items: end;
  position: relative;
  gap: 8vh;
  top: 5x;
  right: 10vh
}








.BarraDeBusqueda {
width: 80vh;
height: 4.5vh;
background-color: white;
border: 2px solid ;
border-radius: 1vh;
position: relative;
left: -9vh;
padding: 0.5vh 0.7vh;

}




.BarraDeBusqueda::placeholder {
color: rgba(0, 0, 0, 0.5) ;      
font-family: 'Montserrat', sans-serif;
font-weight: 600;                      
font-size: 4vh;    
line-height: 4.5vh;
}




.CuadradoAzul {
  width: 110vh;
  height: 81vh;
  background-color: #2A4BA1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: none;
  padding-top: 3vh;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}




.ContenedorImagen1,
.ContenedorImagen2,
.ContenedorImagen3 {
  position: relative;
  display: inline-block;
  width: 100%;              
right: 1%;
  position: relative;
display: flex;
flex-direction: column;
align-items: center;
width: 80vh;
height: 53vh;

}


.ImagenGrupo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.Lapicera {
position: absolute;
top: 18%;        
left: 18%;        
width: 14vh;    
height: 15vh;
object-fit: cover;
border-radius: 1vh;
}


.Cartuchera {
position: absolute;
top: 18%;        
left: 18%;        
width: 14vh;    
height: 15vh;
object-fit: contain;
border-radius: 1vh;
}












.Toldot {
position: absolute;
top: 18%;        
left: 18%;        
width: 14vh;    
height: 15vh;
object-fit: contain;
border-radius: 1vh;
}
















.Lapicera:hover,
.Cartuchera:hover,
.Toldot:hover {
  transform: scale(1.05); /* efecto suave al pasar el mouse */
}




















.Texto1 {    
width: 30%;
padding: 1vh;
 top: 25%;
 right: 10%;
 position: absolute;
   color: rgba(0, 0, 0,) ;      
font-family: 'Montserrat', sans-serif;
font-weight: bold;                      
font-size: 3vh;    
}




.Texto2 {    
width: 10%;
padding: 1vh;
 top: 40%;
 right: 30%;
 position: absolute;
   color: rgba(0, 0, 0,) ;      
font-family: 'Montserrat', sans-serif;
font-weight: 700;                      
font-size: 3vh;    
}








.precio {
  font-weight: bold;
  margin: 0;
  color: #000000;
}




.finalizarCompra {
position: absolute;
right: 10%;
top: 75%;
width: 58.3vh;
height: 7.5vh;
border: 0.5vh solid #154ACF;
border-radius: 6vh;
background-color: #051434;
}




.TextoFinalizarCompra {
position: absolute;
top: -30%;
right: 5%;
height: 10%;
font-family: 'Montserrat', sans-serif;
font-weight: bold;          
font-size: 3vh;
letter-spacing: 0.2vh;
text-decoration: none; /* no funciona */
padding: 1vh 1vh;
}






