body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
  }
  
  .header {
    background: #0d369e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    height: 70px;
  }

  
  #Búsqueda {
    width: 520px;
    padding: 10px 14px;
    border-radius: 0px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    transition: all 0.3s;
  }
  
  #Búsqueda:focus {
    border-color: #1a4270;
    box-shadow: 0 0 5px #1a3d66;
  
  }

.Logo {

height: 65px;
justify-content: end;
align-items: start;

}

  .Logo img
  .user img,
  .favoritos img,
  .cart img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.2s ease;
    
  }
  .user img:hover,
.favoritos img:hover,
.cart img:hover {
  transform: scale(1.1);
}

.user, .favoritos, .cart {
  margin-left: 15px;
}
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px;
    gap: 50px;
  }
  

  .upload-box {
    width: 410px;
    height: 240px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 42px;
    background: white;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .upload-box:hover {
    background: #eee;
  }
  

  .btn {
    display: block;
    width: 300px;
    padding: 15px;
    margin-top: 40px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .publicar {
    background: #0d369e;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    width: 420px;
  }
  

  .derecha {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
  }
  
  .derecha input {
    padding: 12px;
    border: 2px solid #091741;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
  }
  